<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TailWind CSS code, can be removed if not in use -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- End of TailWind code -->
    <title>{% block title %}{{SITE_NAME}}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>